:root {
	--padding-sm: 15px;
	--padding-md: 30px;

	--border-sm: 1px solid #545454;
	--border-md: 2px solid #545454;
	--border-radius-sm: 8px;

	--margin-sm: 10px;
	--margin-md: 20px;

	--font-size-main: 16px;
	--font-size-h2: 20px;
	--font-size-lg: 30px;

	--color-blackMain: #242424;
	--color-whiteMain: #e4e4e4;
	--color-grey: #656565;
	--color-green: #44824e;
	--color-orange: #af6223;
	--color-red: rgb(174, 52, 52);
}
